<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/resources/css/bootstrap.min.css">
</head>
<body>
    {% block content %}{% endblock %}
    <script src="/resources/js/jquery-1.12.4.js"></script>
    <script src="/resources/js/bootstrap.min.js"></script>
</body>
</html>