* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

/* press footer bottom */

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.content {
    flex: 1 0 auto;
}
.footer {
    flex: 0 0 auto;
}

/* 404 Page Styles */

.error-404 {
    font-size: 100px;
}

/* Footer Styles */

footer {
    margin: 50px 0;
}

/* Logo */

.logo-img {
    height: 120px;
}

/* Inputs form */

.input-search-hash {
    margin-bottom: 5px;
}

/* Color filter */

.color-item {
    width: 34px;
    height: 34px;
    float: left;
    background-color: red;
    margin-left: 5px;
    border-radius: 5px;
}

.color-item:hover {
    cursor: pointer;
}

.color-item_active {
    opacity: .5;
}

/* Form */

.required {
    color: red;
}